
/*--------------------------------------------------------------
# Schedule Section
--------------------------------------------------------------*/


#schedule {
    padding: 60px 0 60px 0;
  }
  
  #schedule .nav-tabs {
    text-align: center;
    margin: auto;
    display: block;
    border-bottom: 0;
    margin-bottom: 30px;
  }
  
  #schedule .nav-tabs li {
    display: inline-block;
    margin-bottom: 0;
  }
  
  #schedule .nav-tabs a {
    border: none;
    border-radius: 50px;
    font-weight: 600;
    background-color: #0e1b4d;
    color: #fff;
    padding: 10px 100px;
  }
  
  #schedule .nav-tabs a.active {
    background-color: #f82249;
    color: #fff;
  }
  
  #schedule .sub-heading {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    margin: 0 auto 30px auto;
  }
  
  #schedule .tab-pane {
    transition: ease-in-out .2s;
  }
  
  #schedule .schedule-item {
    border-bottom: 1px solid #cad4f6;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: background-color ease-in-out 0.3s;
  }
  
  #schedule .schedule-item:hover {
    background-color: #fff;
  }
  
  #schedule .schedule-item time {
    padding-bottom: 5px;
    display: inline-block;
  }
  
  #schedule .schedule-item .speaker {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 10%;
    float: left;
    margin: 0 10px 10px 0;
    margin-right:70px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  }
  
  #schedule .schedule-item .speaker img {
    width: 120%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-left: 50%;
    transition: all ease-in-out 0.3s;
  }


  
  #schedule .schedule-item h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  #schedule .schedule-item h4 span {
    font-style: italic;
    color: #19328e;
    font-weight: normal;
    font-size: 16px;
  }
  
  #schedule .schedule-item p {
    font-style: italic;
    color: #152b79;
    margin-bottom: 0;
  }

  /* Additional styles for the unordered list inside the schedule item */
#schedule .schedule-item ul {
    list-style-type: disc;
    padding: 0;
    margin: 10px 0 0 0;
}

#schedule .schedule-item li {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
}

#schedule .schedule-item li:before {
    content: "\2022"; /* Use a bullet point as a list item marker */
    color: #19328e; /* Set the color of the bullet point */
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.paper{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 767px) {
  #schedule .nav-tabs a {
    padding: 8px 50px;
  }
}

@media (max-width: 480px) {
  #schedule .nav-tabs a {
    padding: 8px 30px;
    margin:7px;
  }

  #schedule .schedule-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
  }

  #schedule .schedule-item .speaker{
    width:100%;
    margin:0 0 10px 0;
    margin-top: 20px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
    margin-bottom: 20px;
  }
  #schedule .schedule-item .speaker img{
    width: 50%;
    border-radius:10%;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  }

  #schedule .schedule-item .col-md-9 ul{
    margin-left:15px;
  }

  #schedule .schedule-item .col-md-9 h4{
    font-size: 20px;
  }
  #schedule .schedule-item .col-md-9 ul li{
    font-size: 17px;
  }
}

/* Sections Header
--------------------------------*/

.section-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

.section-header::before {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}

.section-with-bg {
  background-color: #f6f7fd;
}